---
title: Sunshine Day Nursery - Gallery
---
<div class="page-header">
  <h1>Gallery</h1>
</div>

<p class="lead"><%= lorem.sentence %></p>

<div class="row">
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
     <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
     <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
    <br>
  </div>
  
    <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
     <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
     <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x200') %>" class="img-responsive">
    <br>
  </div>
</div>



<hr>

<%= partial "partials/blocks" %>