---
title: Sunshine Day Nursery - Meet the Team
---
<div class="page-header">
  <h1>Meet the Team</h1>
</div>

<p class="lead"><%= lorem.sentence %>.</p>

<h2>Northern General</h2>
<p><%= lorem.sentence %></p>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit.</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit.</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
</div>

<h5>Get in touch with the team</h5>
<p>If you need to get in touch with the team at the Northern General call the numbers below:</p>
<ul>
  <li>Nursery Manager - 0114 2266050</li>
  <li>Nursery - 0114 2266066 / 0114 2266067 </li>
  <li>Childcare Services Manager – 0114 2714254</li>
</ul>

<h2>Central Campus</h2>
<p><%= lorem.sentence %></p>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit.</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit.</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
  
  <div class="col-md-3 col-sm-3">
    <img src="<%= lorem.image('300x300') %>" class="img-responsive">
    <h5><%= lorem.name %></h5>
    <p>Dolorem assumenda ut ea sit</p>
    <br>
  </div>
</div>

<h5>Get in touch with the team</h5>
<p>If you need to get in touch with the team at the Central Campus call the numbers below:</p>
<ul>
  <li>Nursery Manager - 0114 2268848</li>
  <li>Nursery - 0114 2268847</li>
  <li>Childcare Services Manager – 0114 2714254 </li>
</ul>

<hr>

<%= partial "partials/blocks" %>